{% extends 'base.html'%}

{% block app_content %}
<div class="container">
    <h1>Đã xuất hiện lỗi nhập dữ liệu !</h1>
    <p style="color: rgb(4, 40, 77);">{{ error }}</p>
    <p style="color: rgb(4, 40, 77);">Bạn vui lòng nhấn nút Back để cập nhật lại thông tin khác. Xin lỗi về sự bất tiện này ..</p>
    <p><a class="btn btn-outline-primary btn-round " href="{{ url_for('auth.index')}}">Back</a></p>
    <img src="../static/image/not_file_found.jpg" alt="not_file_found.jpg" class="img-fluid p-2">
</div>
{% endblock %}