<div class="card h-auto p-3 mb-5">
  <h4 class="card-header">Tác giã</h4>
  <div class="card-body">
    <p class=" card-text">
      <span>
        <img style="float:right;margin:0px 4px 4px 0px;padding:2px;border:1px solid #ccc;" src="\static\\image\\5b.jpg"
          alt="hinh_tac_gia;" height="125" width="110" />
        <h4>SonGoKu</h4>
      </span>
    <p>Chào mừng bạn đến website "Xem tuổi xây nhà"</p>
    <span>
      <i>
        <p>"Dân gian xưa có câu: Đời người có 3 việc quan trọng: tậu trâu, <b>làm nhà</b> và lấy vợ/chồng.</p>
        <p>"Trang web xem tuổi xây nhà cung cấp thông tin với mong muốn đọc giã có thể tham khảo trước khi thực hiện
          việc quan trọng trong đời.</p>
        <p>Tất cả các thông tin dự đoán dựa trên tài liệu về dịch học, tác giã sẽ không chịu trách nhiệm cho những hành
          động từ người thực hiện."</p>
      </i>
    </span>

    </p>
  </div>
  <div class="card-footer">
    {% block FORM_CONTACT %}
    {% include "form_contact.html" %}
    {% endblock %}
  </div>
</div>