<div class="col-lg-4 mb-4">
  <div>
    <!-- Button to Open Mail -->
    <!-- <button type="button" class="btn btn-outline-primary">
      <a onClick="javascript:window.open('mailto:someone@example.com', 'my-window');event.preventDefault()"href="mailto:someone@example.com">Liên hệ</a>
      
    </button> -->

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal_contact">
      Liên hệ
    </button>
  </div>
  <!-- The Modal -->
  <form action='' method='post'autocomplete="off">
    <div class="modal fade" id="myModal_contact">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Nội dung liên hệ</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-row">
              {{form_contact.username.label}}
              {{form_contact.username(class="form-control")}}
              {% for error in form_contact.username.errors %}
              <span style="color:red;"><i><small>{{ error }}</small></i></span>
              {% endfor %}
            </div>
            <div class="form-row" readonly>
              {{form_contact.email.label}}
              {{form_contact.email(class="form-control")}}
              {% for error in form_contact.email.errors %}
              <span style="color:red;"><i><small>{{ error }}</small></i></span>
              {% endfor %}
            </div>
            <div class="form-row">
              {{form_contact.post.label}}
              {{form_contact.post(class="form-control")}}
              {% for error in form_contact.post.errors %}
              <span style="color:red;"><i><small>{{ error }}</small></i></span>
              {% endfor %}
            </div>

          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <span class="float-left" onlcick="huong_dan()">{{form_contact.submit(type="submit", class="btn btn-outline-primary")}}</span>
            <span class="float-right"><button class="btn btn-outline-secondary"data-dismiss="modal">Thoát</button></span>

          </div>
        </div>
      </div>
    </div>
  </form>
  <script type="text/javascript">
    function thong_bao() {
      alert(
        "Nội dung góp ý đã được cập nhật. Vui lòng xem phản hồi tại mục Câu Hỏi Liên Quan."
      )
    }
  </script>
  </script>
</div>