<h6>Topic liên quan</h6>
<div class="row d-inline-flex">

  <!-- Gallery Item 1 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/ty.jpg" />
      <h6 class="card-title text-center">Tý</h6>
    </div>
  </div>
  <!-- Gallery Item 2 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/suu.jpg" />
      <h6 class="card-title text-center">Sửu</h6>
    </div>
  </div>
  <!-- Gallery Item 3 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/dan.jpg" />
      <h6 class="card-title text-center">Dần</h6>
    </div>
  </div>
  <!-- Gallery Item 4 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/mao.jpg" />
      <h6 class="card-title text-center">Mão</h6>
    </div>
  </div>
  <!-- Gallery Item 5 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/thin.jpg" />
      <h6 class="card-title text-center">Thìn</h6>
    </div>
  </div>
  <!-- Gallery Item 6 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/ti.jpg" />
      <h6 class="card-title text-center">Tị</h6>
    </div>
  </div>
  <!-- Gallery Item 7 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/ngo.jpg" />
      <h6 class="card-title text-center">Ngọ</h6>
    </div>
  </div>
  <!-- Gallery Item 8 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/mui.jpg" />
      <h6 class="card-title text-center">Mùi</h6>
    </div>
  </div>
  <!-- Gallery Item 9 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/than.jpg" />
      <h6 class="card-title text-center">Thân</h6>
    </div>
  </div>
  <!-- Gallery Item 10 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/dau.jpg" />
      <h6 class="card-title text-center">Dậu</h6>
    </div>
  </div>
  <!-- Gallery Item 11 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/tuat.jpg" />
      <h6 class="card-title text-center">Tuất</h6>
    </div>
  </div>
  <!-- Gallery Item 12 -->
  <div class="col-6 col-sm-4 col-md-3 p-2">
    <div class="card h-100">
      <img class="card-img-top" src="static/image/hoi.jpg" />
      <h6 class="card-title text-center">Hợi</h6>
    </div>
  </div>
</div>