
    <!-- Gallery Item 1 -->
    <div class="row">
        <h6 class="card-title text-center">Lịch vạn niên</h6>
        <div class="card h-100">

            <!-- Bắt đầu Lịch vạn niên -->
            <div class='widget HTML' id='HTML10'>
                <div class='widget-content'>
                    <right>
                        <script type="text/javascript" language="JavaScript"
                            src="http://www.informatik.uni-leipzig.de/~duc/amlich/JavaScript/amlich-hnd.js">
                            </script>
                        <script language="JavaScript">

                            setOutputSize("large");
                            document.writeln(printSelectedMonth());

                        </script>
                    </right>
                </div>
            </div>
            <!-- Kết thúc Lịch vạn niên -->
        </div>
    </div>
    
